---
---

<html>
<title>Morgan Dillon Crow</title>
<meta name="viewport" content="width=device-width, minimum-scale=.5, maximum-scale=1">
<link rel="stylesheet" type="text/css" href="assets/styles/body.css">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<body id="background">

<div id="other">
<div>  <div class="expander d-none d-lg-block" id="expanderA"><div id="aboutDiv"> {% include about.html %} </div></div>
   <div class="expander d-lg-none" id="expanderB"></div>
 {% include header.html %}</div>
<br>

<div class="align-self-center" id="join">
<script async data-uid="0de42e2014" src="https://creative-trader-2261.ck.page/0de42e2014/index.js"></script>
  </div>


<footer >
<div id="copyright" class="text-center">&copy; 2021 Morgan Dillon Crow. All rights reserved.
</div>
  </div> 
  
 
</body> 
</html>
