---
---

<html>
<title>Morgan Dillon Crow</title>
<meta name="viewport" content="width=device-width, minimum-scale=.5, maximum-scale=1">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://kit.fontawesome.com/8f233f5c5b.js" crossorigin="anonymous"></script>
<script src="../scripts/navigation.js"></script>
<script src="../scripts/player.js"></script>
<script src="../scripts/progress.js"></script>

</head>
<link rel="stylesheet" type="text/css" href="../assets/styles/header.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="../assets/styles/player.css">
<link rel="stylesheet" type="text/css" href="../assets/styles/about.css">
<link rel="stylesheet" type="text/css" href="../assets/styles/footer.css">
<link rel="stylesheet" type="text/css" href="assets/styles/body.css">

  


<body id="background">

<div id="other"></div>
<div> <div class="expander d-none d-lg-block" id="expanderA"><div id="aboutDiv"> {% include about.html %}</div></div>
   <div class="expander d-lg-none" id="expanderB"></div>
 {% include header.html %}</div>
<br>

<div class="align-self-center" id="join">
<script async data-uid="0de42e2014" src="https://creative-trader-2261.ck.page/0de42e2014/index.js"></script>
  
  <div id="tree" class="align-self-center text-center d-block d-md-none">
  <button class="mobile-button" id="aboutMobile">ABOUT</button><br>
  <a target="_blank" href='http://soundcloud.com/mdcrow'><button class="mobile-button">SOUNDCLOUD</button></a>
    <a target="_blank" href="mailto://composer@mdcrow.com"><button class="mobile-button">EMAIL</button></a>
    <a target="_blank" href="http://twitter.com/mdcrowmusic"><button class="mobile-button">TWITTER</button></a>
    <a target="_blank" href="http://instagram.com/mdcrowmusic"><button class="mobile-button">INSTAGRAM</button></a>
    <a target="_blank"href="http://youtube.com/mdcrowmusic"><button class="mobile-button">YOUTUBE</button></a>
  </div>

 {% include footer.html %}

  </div>



  </div> 
  

</body> 
</html>
