
body {
    background-color:#fffff8;
    font-family:'Courier New', Courier, monospace;
}

iframe {
    opacity: 0.5;
    filter: grayscale();
}

iframe:hover {
    opacity: 1;
}

h1 {
text-align:center; 
color: rgb(0, 85, 120);
}
h2 {
    text-align:center;
    color: #29353D;
}