
body {
    background-color:#fffff8;
}

iframe {
    opacity: 0.4;
    filter: grayscale();
}

iframe:hover {
    opacity: 1;
}

h1 {
text-align:center; 
color: rgb(0, 85, 120);
font-weight: lighter;
}
h2 {
    text-align:center;
    color: #29353D;
    font-weight: lighter;
}