
body {
    margin:0 auto;
    height:100%;
    width: 100%;
    background: #fffff8;
    background-size:cover;
    backdrop-filter: grayscale();
    background-repeat: no-repeat;
    overflow-x: hidden;

 
}

iframe {
    opacity: 0.7;
    filter: grayscale(.7) blur(0.5px);
    max-width: 500px;
    width: 85vw;
    height: 350px;
    display: block;
    margin: 0 auto;
    padding: 25px;

}

iframe:hover {
    opacity: .9;
    filter: grayscale(0) blur(0) brightness(1); 
}

header {
    background-color: #fffff899;
    height: 100px;
    max-width: 380px;
    margin: 0 auto;
}

h1 {
font-size: 25px;
text-align:center; 
color: rgb(0, 85, 120);
font-weight: lighter;
padding-bottom: 0px;
padding-top: 10px

}
h2 {
    font-size: 18px;
    padding-top: 0px;
    padding-bottom:10px;
    text-align:center;
    color: #29353D;
    font-weight: lighter;
}