
body {
position:absolute;
margin:0;
height:100%;
}


#background {
background-color: #f8f8ff;

}

#tree{
width:100vw;
}

button.mobile-button {
  width:75vw;
height:50px;
  background:#f8f8ff;
  margin:10px;
  font-size:20px;
    font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
    color:RGB(0,85,120);
  border-radius: 1px;
  border:none; 
  box-shadow: 
    1px 2px 3px 0 rgba(0,85,120, 0.3),
    5px 3px 0px 0 rgba(255, 255, 255, 0.3);
  
}

button.mobile-button:active{
box-shadow: 
    inset 1px 1px 2px 0 rgba(0,85,120, 0.3),
    inset 2px 1px 0px 0 rgba(255, 255, 255, 0.3);
}


#aboutDiv {
padding: 50px;
  display:none;
z-index:40;
}




