
footer{
 text-color:#29353D;
 position:absolute;
width:100vw;
height:8px;
 padding-bottom:8px;
 padding-top:30px;
 margin-bottom:8px;
    color:Black;
    font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
    font-size:15px;
}




