<html>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<script src="https://kit.fontawesome.com/8f233f5c5b.js" crossorigin="anonymous"></script>


<link rel="stylesheet" type="text/css" href="../assets/styles/footer.css">

<body>

<footer class="container"><div class="row">
<div id="copyright" class="col-8 justify-content-start">&copy; 2020 <a href=“http://www.mdcrow.com/index.html”>M.D. Crow</a>. All rights reserved.</div>
<div style="font-size:15px; font-family:Palatino, serif;" class="coffee justify-content-end d-inline-flex col-4"><a href="http://coffee.mdcrow.com" target="_blank">Buy me a coffee&nbsp;&nbsp;<div class="fas fa-coffee"></div></a></div>
</div>
<div id="overflow-bottom"></div>
</footer>

</body>
</html>
