<html>

<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://kit.fontawesome.com/8f233f5c5b.js" crossorigin="anonymous"></script>
<script src="../scripts/navigation.js"></script>
<script src="../scripts/player.js"></script>
<script src="../scripts/progress.js"></script>
<script src="https://w.soundcloud.com/player/api.js" type="text/javascript"></script>

</head>
<link rel="stylesheet" type="text/css" href="../assets/styles/header.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="../assets/styles/player.css">
<link rel="stylesheet" type="text/css" href="../assets/styles/about.css">
<link rel="stylesheet" type="text/css" href="../assets/styles/footer.css">



<body>
 <canvas id="progress" width="500" height="2"></canvas>
<div class="container">
<div class="flex-row row row1">
 

<a class="col-lg-3 justify-content-around text-center" id="siteTitle"> MORGAN DILLON CROW </a>

<div id="navigation" class="d-inline-flex text-center justify-content-around col">
<a class="d-none d-md-block link nav-link" id="about">  About  </a>
<a class="d-none d-md-block link nav-link" href="http://soundcloud.com/mdcrow" target="_blank" id="music">  Music  </a>
<a target="_blank" href="mailto:composer@mdcrow.com"
 class="d-none d-md-block link nav-link" id="contact" subject="Website Message">  Contact  </a>
</div>

<div id="social" class="justify-content-around col text-center d-none d-md-block">
  <a class="social_icon" href=http://www.twitter.com/mdcrowmusic target="_blank"><img id="twitter" src=../assets/img/twitter_icon.png height=28px /></a>
  <a class="social_icon" href=http://www.instagram.com/mdcrowmusic/ target="_blank"><img id="instagram" src=../assets/img/instagram_icon.png height=28px /></a>
  <a class="social_icon" href=http://youtube.com/user/mdcrowmusic target="_blank"><img id="youtube" src=../assets/img/yt_icon.png height=28px /></a>
</div>
 
<div id="musicplayer" class="d-inline-flex col-sm-12 col-md justify-content-around text-center">
 <iframe width="0" height="0" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/1320079612&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"></iframe>
<button class="text-right" id="play" onClick="play()"><i class="fa fa-play"></i></button>
<div id="current"></div>
<button class="text-center" id="showTracklist"><i class="fa fa-bars"></i></button>
<button class="text-center" id="hideTracklist"><i class="fa fa-bars"></i></button>
 
 
</div>
</div>

 </div>

<ul id="tracklist" class="col align-self-center"></ul>
<canvas id="progress" width="500" height="2"></canvas>
<div id="top-overflow"></div>
<audio id="player" ontimeupdate="updateBar()"></audio>
</div>





</body>
</html>
