
	#blog{
color: white;
font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
    font-size:15vw;
padding-top:10px;
padding-bottom:50px;
margin:50px;
text-align:left;
display:inline-block;







}


h1, h3{

display:inline-block;
padding-right: 25px;
padding-top:10px;
}


h1{
font-size:35px;
}
h3 {
font-size:20px;

}