
body {
position:absolute;
margin:0;
height:100%;
}


#background {
background-color: #f8f8ff;

}

#tree{

width:85vw;
}

.mobile-button {
  width:85vw;
height:40px;
  background:#f8f8ff;
  
}

#aboutDiv {
padding: 50px;
  display:none;
z-index:3;
}




