
body {
position:absolute;
margin:0;
height:100%;
}


#background {
background-color: #f8f8ff;

}

#tree{
padding-bottom:10px;
width:85vw;
}

#aboutDiv {
padding: 50px;
  display:none;
z-index:3;
}




