
footer{
 position:absolute;
width:100vw;
 max-height:10vh;

}


#copyright {
 padding-bottom:8px;
 margin-bottom:0;
    color:Black;
    font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
    font-size:15px;
}

a {

color:#f8f8f8

}

a:hover {
color:#f8f8f8;
cursor: pointer;
text-decoration: none;
}


