
footer{
 position:absolute;
width:100vw;
height:100vh;
 padding-bottom:8px;
 margin-bottom:0;
    color:Black;
    font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
    font-size:15px;
}




