
footer{
 position:absolute;
width:100vw;
height:8px;
 padding-bottom:8px;
 padding-top:160px;
 margin-bottom:0px;
    color:Black;
    font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
    font-size:15px;
}




