 


nav.container {
   position:static;
   height:45px;
   background-color:#ffffff;
   width:100%;
   margin-top:0px;
   padding-top: 10px;
   padding-left: 24px;
   padding-right: 24px;
z-index:3;


   
}

#titleContainer {
	margin-bottom:5px;
	padding:2px;
}

#temp {

font-size:19px;
font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
color:#B8B8B8;


}
@font-face{
	font-family:"pristina";
src: 
url("../pristina.woff") format("woff"),
	url("../pristina.otf") format("opentype"),
	url("../pristina.ttf") format("truetype");}

#siteTitle {
    font-size:22px;
    font-family:'pristina';
    color:RGB(0,85,120);
    -webkit-user-select:none;
  
   
}

#siteTitle:hover {
	color:#B8B8B8;
}


#navContainer {
	padding:4px;
}

.nav-link{
    padding-left:20px;
    padding-right:20px;
    font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
    font-size:19;
    color:#B8B8B8;
    
}

  .nav-link:hover{
    color:RGB(0,85,120);
    border-top:thick solid RGB(0,109,150);
    border-bottom:thick solid RGB(0,109,150);
    border-width:2px;
    padding-top:5px;
    padding-bottom:5px;


}


.social_icon {
  padding:3px;
}

.hidden {

    height:2px;
    display:none;

}



 





